{{#each books}} 
{{log books}}
<div class="row">
    <div class="getBook">
        <div class="card mb-5">
            <div class="row g-0">
                <div class="col-md-2 picApi">
                    <img src="{{thumbnail}}" alt="...">
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <h5 class="card-title">{{title}}</h5>
                        <p class="card-text">{{description}}</p>
                        <p class="card-text"><small class="text-muted">{{authors}}</small></p>
                        <button class="btn btn-haveRead" data-bookId="{{id}}">Have
                            Read</button>
                        <button class="btn btn-wantRead" data-wantbookId="{{id}}">Want
                            Read</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/each}}