{{!-- {{log user}}
<h2>Books I Have Already Read</h2>
{{#each user.books}}
{{#if read}}
<div class=row></div>
<div class="row cards">
  <div class="card mb-5" style="max-width: 300px;">
    <div class="row g-0">
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
          <p class="card-text"><small class="text-muted">{{author}}</small></p>
          <img src="{{image_link}}" alt="...">
        </div>
        <div class="link-btn">
          <a href="{{book_link}}" class="btn btn-primary">Preview</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{{/if}}
{{/each}} --}}

<div class="breakout"></div>
<div class="row haveAR align-items-center">
  <div class="col-md-12 align-self-center">

    <h4>Books I Have Already Read</h4>
  </div>
</div>
<div class="container-profile">
  <div class="row">
    {{#each user.books}}
    {{#if read}}
    {{log user}}
    <div class="col-3.5 ">

      <div class="card" style="max-width: 18rem;">
        <img class="rounded mx-auto d-block" width="120px" height="150px" src="{{image_link}}" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center p-2">{{title}}</h5>
          <p class="card-text text-center p-2"><small class="text-muted">{{author}}</small></p>
          <div class="link-btn text-center p-2">
            <a href="{{book_link}}" class="btn btn-primary">Preview</a>
          </div>
        </div>
      </div>
    </div>


    {{/if}}
    {{/each}}
  </div>
</div>
  <div class="breakout"></div>

<div class="row haveAR align-items-center">
  <div class="col-md-12 align-self-center">

    <h4>Books I Want to Read</h4>
  </div>
</div>
<div class="breakout"></div>
<div class="container-profile">
  <div class="row align-items-center">
    {{!-- {{#each user.books}}
    {{#if read}}
    {{log user}} --}}
    {{#each user.books}}
    {{#unless read}}
    <div class="col-3.5 ">

      <div class="card" style="max-width: 18rem;">
        <img class="rounded mx-auto d-block" width="120px" height="150px" src="{{image_link}}" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center p-2">{{title}}</h5>
          <p class="card-text text-center p-2"><small class="text-muted">{{author}}</small></p>
          <div class="link-btn text-center p-2">
            <a href="{{book_link}}" class="btn btn-primary">Preview</a>
          </div>
        </div>
      </div>
    </div>


    {{/unless}}
    {{/each}}
  </div>
</div>


{{!-- <h2>Books I Want to Read</h2>
{{#each user.books}}
{{#unless read}}
<div class="row"></div>
<div class="row cards">
  <div class="card mb-5" style="max-width: 300px;">
    <div class="row g-0">
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
          <p class="card-text"><small class="text-muted">{{author}}</small></p>
          <img src="{{image_link}}" alt="...">
        </div>
        <div class="link-btn">
          <a href="{{book_link}}" class="btn btn-primary">Preview</a>
        </div>
      </div>
    </div>
  </div>
</div>
{{/unless}}
{{/each}} --}}